<div class="dashboard-container">
    <div class="header">
        <h1>Bachat - Your Personal Expense Tracker</h1> <!-- Header aligned to the right -->
    </div>
    <div class="button-container">
          <button id="addTransaction" class="add-transaction-button" @onclick="addtransaction">Add transaction</button>
          <button class="logout-button" @onclick="logout">Log out</button>
    </div>
</div>